/* slide right */
#slide_xmpp_support_chat_main {
/*    padding:	0px 0 0 10px;*/
  display: block;
  position: fixed;
  bottom: 0;
  right: 50px;
  height: 20px;
  width: 150px;
  background-color: red;
  overflow: hidden;
  z-index: 20;
  border-radius: 15px 15px 0 0;
  -webkit-border-radius: 15px 15px 0 0;
  -moz-border-radius: 15px 15px 0 0px;
  -o-border-radius: 15px 15px 0 0;
}

#slide_xmpp_support_chat_header {
  padding: 0px 0 0 10px;
  display: block;
  position: relative;
  top: 0;
  height: 20px;
  width: 100%;
  cursor: n-resize;
  font-size: 10pt;
  font-weight: bold;
}


#slide_xmpp_support_chat {
  margin: 0px 2px 0 2px;
  padding: 3px 5px 3px 5px;
  background-color: #ccf;
  display: block;
  position: relative;
  height: 232px;
  width: 436px;
}

#xmpp_support_chat_textarea {
  margin: 5px 0 5px 0;
  background-color: #ddd;
  display: block;
  width: 100%;
  height: 150px;
  overflow-y: scroll;
}
