span.xmpp-support-chat-customer-name {
  font-weight: bold;
}

div.xmpp-support-chat-customer-row {
  color: red;
}

span.xmpp-support-chat-seller-name {
  font-weight: bold;
}

div.xmpp-support-chat-seller-row {
  color: green;
}
